body {
	background-color: #232323;
	-webkit-font-smoothing: antialiased;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

li {
	list-style: none;
}

.nav-first {
	margin-bottom: 4px;
	font-size: 14px;
	color: white;
}

.residential-list {
	width: 232px;
	height: 400px;
	overflow: auto;
	font-size: 13px;
}

.project-text {
	width: 400px;
	color: #AAA;
	font-size: 13px;
	margin-bottom: 20px;
	display: none;
}

.residential-list li {
	margin-bottom: 4px;
}

.thumbnails li {
	margin-right: 5px;
	display: inline;
}

.thumbnails {
	margin-left: -38px;
}

.selected-thumbnail {
	border-left: 2px solid #c72525;
	border-right: 2px solid #c72525;
}

.section-container {
	margin-left: 25px;
}

.left-side {
	float: left;
}

.top-nav {
	text-align: right;
	padding: 20px;
	float: left;
	font-size: 13px;
	margin-top: 5px;
}

.top-nav-residential {
	margin-left: 47px;
}

a:visited, a:link {
	color: #AAA;
	text-decoration: none;
}

a:hover {
	color: white;
}


.logo {
	display: inline;
	margin-right: 10px;	
	color: #CCC;
}

.section-header {
	color: #AAA;
}

.front-image-container {
    display: block;
    min-width: 1068px;
    max-width: 100%;
}

.front-image {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    margin-top: 135px;
    overflow: hidden;
}

.main-image {
	max-width: 100%;
	height: auto;
	min-width: 400px;
	display: inline;
}

.image-container {
	float: left;
	margin-top: 40px;
}

#doc-image {
	cursor: pointer;
}

.passive_house_text {
	color: white;
	display: inline;
	font-size: 9pt;
	max-width: 255px;
	float: left;
	padding-right: 10px;
}
